.header {
  height: 6rem;
  box-shadow: red;
  width: 100%;
  position: fixed;
  /* opacity: 0; */
  z-index: 999;
}

.scrollNav {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
    -10px -10px 30px rgba(255, 255, 255, 0.6);
}

.container {
  max-width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  height: 6rem;
}

.grid {
  display: flex;
}

.navbarGrid {
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  margin: auto;
  padding: 0 3rem;
}

.navbarGrid .ul {
  display: flex;
  gap: 5rem;
  position: relative;
  color: #fff;
}

.hamMenu {
  display: none;
}

.button,
.dropDown {
  cursor: pointer;
}

/* solutions Drop Down Menu */
.solutionsDrop,
.isOpen,
.ENDrop {
  position: absolute;
  top: 3rem;
  background-color: #fff;
  height: auto;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  color: #0057c1;
}

.solutionsDrop li:hover,
.ENDrop li:hover {
  color: #4cb6e6;
}

.dropDown:hover > .solutionsDrop,
.ENDrop {
  visibility: visible;
  opacity: 1;
}

.solutionsDrop :nth-child(1),
.solutionsDrop :nth-child(3),
.ENDrop :nth-child(1),
.ENDrop :nth-child(4) {
  padding: 1rem 0.5rem;
}

.solutionsDrop .dropLine,
.ENDrop .dropLine {
  border-top: 0.5px solid rgba(172, 167, 167, 0.637);
  padding: 1rem 0.5rem;
  border-bottom: 0.5px solid rgba(172, 167, 167, 0.637);
}

.ENDrop .dropLine2 {
  padding: 1rem 0.5rem;
  border-bottom: 0.5px solid rgba(172, 167, 167, 0.637);
}

.services,
.ENDropDown,
.solutions {
  padding: 0.5rem 0.5rem;
}
.ENDropDown {
  /* font-size: 1.2rem; */
  border: 1px solid #fff;

  border-radius: 80rem;
  /* margin-bottom: 1rem; */
}
.ENDropDown .gap {
  margin-right: 0.5rem;
  /* padding-top: 0.5rem; */
}

.underline {
  position: absolute;
  border: 0.2px solid #fff;
  width: 6rem;
  margin-top: 1.2rem;
  align-items: center;
  margin-left: -1rem;
  visibility: hidden;
  opacity: 0;
}
.services:hover > .underline {
  visibility: visible;
  opacity: 1;
}

.Mcontact {
  display: none;
}
.contactButton {
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-weight: bold;
}
.contactButton:hover {
  background-color: #fff;
  color: #0057c1;
}
.contactButton:hover > .rightArrow {
  padding-left: 0.2rem;
}

.onScroll {
  color: #0057c1;
}
.onScrollContact {
  border: none;
  background-color: #fe8b53;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
    -10px -10px 30px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.3s ease;
}
.onScrollContact:hover {
  color: #fff;
  background-color: #fe8b53;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2),
    -15px -15px 40px rgba(255, 255, 255, 0.8);
}
.onScrollContact:hover > .rightArrow {
  padding-left: 0.2rem;
}

/* media queries */
@media screen and (max-width: 1200px) {
  .navbarGrid {
    padding: 0 1.5rem;
    /* border: 1px solid red; */
  }
  .navbarGrid .ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    position: relative;
    background-color: #0057c1;
  }
  .solutionsDrop {
    /* border: 1px solid red; */
    position: relative;
    visibility: visible;
    opacity: 1;
    display: block;
    margin-bottom: 2rem;
  }
  .ENDrop {
    /* position: relative; */
    top: 18rem;
    visibility: visible;
    opacity: 1;
    display: block;
    margin-bottom: 2rem;
  }

  .hamMenu {
    display: inline-block;
    color: #fff;
  }

  .menuDesktop,
  .Dcontact {
    display: none;
  }
  .Mcontact {
    display: inline-block;
  }

  .menuMobile {
    background-color: #0057c1;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
  }

  .menuMobile .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .onScroll {
    color: #fff;
  }
}
